.home-container {
  background-image: url("https://wallpapercave.com/wp/wp3191443.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(155, 125, 155);
  padding: 20px;
}

.text-primary {
  color: #6d55b5;
}

.text-secondary {
  color: #e6189a;
}

.text-info {
  color: #46e15a;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.text-success {
  color: #dd6a0c;
}
